body {
    background-image: url("blackjack.jpg");
    background-size: cover;
    text-align: center;
}

  button {
    background-color: rgb(67, 159, 133);
    font-size: 20px;
    border-style: double;
  }

  .ergebnis {
    font-size: 20px;    
  }

  .ergebnis2 {
    font-size: 20px;
    max-width: 345px;
    max-height: 205px;
  }

  .spiel {
    float: left;
    background-color: aliceblue;
  }

  .scorelist {
    float: right;
    background-color: aliceblue;
    font-size: 20px;
  }